<!--The content below is only a placeholder and can be replaced.-->
<div [class]="topicClass">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<section [class]="sectionClass">
  <div [class]="topicClass">Example For Routing</div>
  <div [class]="blockClass">
    <a routerLink="homeCmpnt">Home Comp</a>
    <a routerLink="empCmpnt">Employee Comp</a>
    <a routerLink="TwoWayBndgCmpnt">Two Way Binding Comp</a>
    <a routerLink="StdntInfCmpnt">Student Info Comp</a>
    <router-outlet></router-outlet>
  </div>
</section>

<!-- <section [class]="sectionClass">
  <div [class]="topicClass">Example For Components, Nested Components, Styling Components, Interpolation, Property Binding, Attribute Binding, Class Binding, Style Binding, Events Binding</div>
  <app-employee [class]="blockClass"></app-employee>
</section>

<section [class]="sectionClass">
  <div [class]="topicClass">Example For Two Way Binding</div>
  <app-two-way-binding [class]="blockClass"></app-two-way-binding>
</section>

<section [class]="sectionClass">
  <div [class]="topicClass">Example For Reading Data, Pipes, Custom Pipes</div>
  <app-student-info [class]="blockClass"></app-student-info>
</section> -->





